<h1>New division</h1>

<form action="/wizard_divide">
  <label for="div_first_num">
    Divide this:
  </label>
  <input id="div_first_num" name="div_first_number" text="text">
  <label for="div_second_num">
    by this:
  </label>
  <input id="div_second_num" name="div_second_number" text="text">
  <button>
    Divide!
  </button>
</form>
