<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <label for="mult_first_num">
    Multiply this:
  </label>
  <input id="mult_first_num" name="mult_first_number" text="text">
  <label for="mult_second_num">
    by this:
  </label>
  <input id="mult_second_num" name="mult_second_number" text="text">
  <button>
    Multiply!
  </button>
</form>
